<div class='panel panel-info'>
    <div class="panel-heading">
        <h3 class="text-center">Login</h3>
    </div>
    <div class="panel-body">
        <form name='loginForm'>
            <div class="form-group">
                <label>
                    <h4>Username</h4>
                </label>
                <input type="text" class="form-control" placeholder="Username" ng-model='loginData.username' ng-required='true'>
            </div>
            <div class="form-group">
                <label>
                    <h4>Password</h4>
                </label>
                <input type="password" class="form-control" placeholder="Password" ng-model='loginData.password' ng-required='true'>
            </div>
            <hr/>
            <div class='container-fluid'>
                <div class='col-sm-8 col-sm-offset-2'>
                    <button ng-click='login()' class="btn btn-lg btn-block btn-info" ng-disabled='loginForm.$invalid'>Login</button>
                </div>
            </div>
        </form>
        <span class='center-block text-center lead' style='margin-bottom: 5px !important; margin-top: 5px !important;'>or</span>
        <button class="btn btn-google btn-lg center-block" ng-click='googleSignin()'>
            <i class="fa fa-google"></i>
            | Sign in with Google</button>
        <span class='center-block text-center lead' style='margin-bottom: 5px !important; margin-top: 5px !important;'>or</span>
        <button class="btn btn-facebook btn-lg center-block" ng-click='facebookSignin()'>
            <i class="fa fa-facebook"></i>
            | Sign in with Facebook</button>
        <hr/>
        <a class='pull-right' cd-location-changer='/register'>Create an account</a>
    </div>
</div>
